
<div class="container">
    <div>
        <h1>Liste des contacts:</h1>
    </div>
    <button class="btn btn-primary" (click)="openModal()">Ajouter un contact</button>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Prénom</th>
            <th scope="col">Nom</th>
            <th scope="col">Email</th>
            <th scope="col">N° de tel</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let adr of contactAdresses; let i = index">
            <th scope="row">{{1 + i}}</th>
            <td>{{adr.prenom}}</td>
            <td>{{adr.nom}}</td>
            <td>{{adr.email}}</td>
            <td>
              <div *ngFor="let tel of adr.tel;">
                {{tel}}
              </div>
            </td>
            <td><button class="btn btn-danger" (click)="removeContact(adr)">X</button>&nbsp;&nbsp;&nbsp;<button class="btn btn-warning" (click)="edit(adr.id)">edite</button></td>

          </tr>
        </tbody>
      </table>


      <app-modal-form></app-modal-form>
      
      
</div>
