
<div class="container">
    <div>
        <h1>Liste des contacts:</h1>
    </div>
    <button class="btn btn-primary" (click)="openModal()">Ajouter un contact</button>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Prénom</th>
            <th scope="col">Nom</th>
            <th scope="col">Email</th>
            <th scope="col">N° de tel</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td><button class="btn btn-danger">X</button>&nbsp;&nbsp;&nbsp;<button class="btn btn-warning">edite</button></td>

          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td><button class="btn btn-danger">X</button></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td><button class="btn btn-danger">X</button></td>
          </tr>
        </tbody>
      </table>


      <app-modal-form></app-modal-form>
      
      
</div>
